// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom
// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

ul {
    list-style: none;
    text-decoration: none;
    margin-bottom: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    background-color: var(--main-bg);
}

// UTILITIES
:root {
    --header-height: 80px;
    --hero-height: 25vh;
    --banner-height: 80px;
    --main-bg: #1c1c1c;
    --main-blue: #0c7cec;
    --footer-banner-bg: #303030;
}

// COMMON
// Layout
.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    width: calc((100% - 100px) / 6);
    margin-bottom: 10px;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.pb-20 {
    padding-bottom: 20px;
}

// Position
.p-relative {
    position: relative;
}

// Flex
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.g-20 {
    gap: 20px;
}

// Buttons
.blue-btn {
    background-color: var(--main-blue);
    padding: 5px 20px;
    border-width: 0;
    color: #ffffff;
    margin: 0 auto;
    display: block;
}

.outline-btn {
    background-color: transparent;
    border: 2px solid var(--main-blue);
    color: #ffffff;
    padding: 5px 20px;
    display: block;
}

// SECTIONS
// Header
.navbar {
    height: var(--header-height);
    background-color: #ffffff;
}

.nav-logo {
    height: 50px;
}

// Hero
.hero-section {
    height: var(--hero-height);
    background-size: cover;
    background-image: url('../img/jumbotron.jpg');
}

.section-tag {
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--main-blue);
    padding: 5px 10px;
    position: absolute;
    left: 0;
    top: -20px;
}

// Card Section
.card-section {
    padding: 40px 0;
}

.card-section .row {
    margin-bottom: 20px;
}

.card {
    height: 100%;
    background-color: var(--main-bg);
    border-width: 0;
}

.card img {
    display: block;
    height: 80%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card h6 {
    font-size: .8rem;
    color: #ffffff;
}

// Banner
.banner {
    background-color: var(--main-blue);
    color: #ffffff;
    height: var(--banner-height);
    gap: 40px;
}

.banner h6 {
    font-size: .8rem;
}

.banner img {
    height: 40px;
    margin-right: 10px;
}

// Footer
footer {
    color: #ffffff;
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    overflow: hidden;
}

.footer-text {
    margin-right: 50px;
    padding-top: 30px;
}

.footer-text li {
    color: #afafaf;
    font-size: .8rem;
}

.footer-banner {
    background-color: var(--footer-banner-bg);
    padding: 20px 0;
}

.footer-banner h6 {
    color: var(--main-blue);
    font-size: 1.2rem;
    margin: 0;
}

.footer-banner img {
    width: 30px;
}